<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="../css/style1.css">
</head>

<script>
    $(function()
    {
        $.ajax({
            url:"http://localhost:6050/getpaymentinfo",
            method:"GET",
            dataType:"json",
            success:function(response)
        {
            console.log(response)

        }   
         })
    })
</script>
<body>
    <nav class="nav adminnav">
        <ul class="nav-list adminul">
            <li class="nav-item mylist admin_list_item item1">

                <a href="/admin">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
                
       
            <li class="nav-item logout admin_list_item item2">
                <a href="/home">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <table>
                <tr>
                    <th>USER ID</th>
                    <th>CARD NUMBER</th>
                    <th>CARD HOLDER NAME</th>
                    <th>EXPIRY MONTH</th>
                    <th>EXPIRY YEAR</th>
                </tr>
                <tbody id="mytbody">
                     
                </tbody>
            </table>
        </div>
        <div class="col-xs-2"></div>
    </div>
</body>
</html>