<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .loveButton
    {
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="../css/style1.css">
<script>
    $(function()
    {
        $.ajax({
            url:"http://localhost:6050/getuserinfo",
            type:"GET",
            dataType:"json",
            success:function(response)
            {
                console.log(response)
                console.log(response[0].first_name)
                console.log(response[0].last_name)

                buildTable(response);

            }

        })
    })
    function buildTable(response)
    {
        var table=document.getElementById("customer_name");
        var row1=`
        <span class="glyphicon glyphicon-user"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="userdiv">
        <span class="user_first_name">Welcome, ${response[0].first_name}&nbsp;&nbsp;${response[0].last_name}</span>
        &nbsp;&nbsp;
        <span class="user_last_name"></span>
        &nbsp;&nbsp;
        </div>
        `;
        table.innerHTML+=row1;

    }
</script>
<script>
    $(function()
    {

        var myArray=[];
    $.ajax({
        url:'http://localhost:6050/f&vData',
        type:'GET',
        dataType:'json',

        success:function(response){
            myArray=response
            console.log("Hello Everyone");
            console.log(myArray)
           
            buildTable(myArray)

        }
      
    })
    function buildTable(data)
    {
        var table=document.getElementById("mydiv")
        for(var i=0;i<data.length;i++)
        {
            var row1=`<div>

        <div>
            <p class="item">${data[i].name}</p>
        </div>

        <div>
        <img class="productImage" src=${data[i].img} width="200px" height="200px">            
        </div>
        <div class="product_display item">

        <p>PRICE: ${data[i].price}</p>
        </div>
        <div class="buttonPanel">
            <button type="button" class="btn btn-primary" onclick=viewProduct('${data[i].product_id}','${data[i].type}') >VIEW</button>
            <button type="button" class="btn btn-success" onclick=addProduct('${data[i].product_id}','${data[i].type}')>ADD TO CART</button>
            <button  class="loveButton" type="button" onclick=addToWishlist('${data[i].product_id}','${data[i].type}') >
                <i class=" btn btn-danger fa fa-heart-o" ></i>
            </button> 
        </div>
        </div>`

        table.innerHTML+=row1;
        }

    }

    })

    function viewProduct(id,type)
{   
    //Start of view Product
    console.log("Id of the product is")
    console.log(id)
    console.log("Type of the  Product")
    console.log(type)

    // var product_id=id;
    // $.ajax({
    //     url:"http://localhost:6050/productinfo",
    //     type:"POST",
    //     dataType:"json",
    //     data:{"product_id":product_id},
    //     success:function(response)
    //     {
    //         console.log(response)
    //     }

  //  })
  $.ajax({
      url:"http://localhost:6050/viewproduct",
      type:"POST",
      dataType:"json",
      data:{
          "product_id":id,
          "type":type
      },
      success:function(response)
      {
          console.log(response)
      }
  })
  location.href="/viewpage"
  //End of view Product

}
 

    function addProduct(id,type)
    {       

        //calling the Check for SignIn Functionallity
        let count=localStorage.getItem("count")
        console.log(count)
        if (count==0)
        {
            console.log("Inside Fruits and Veegtables")
            console.log(id)
            $.ajax({
        url:"http://localhost:6050/addproduct",
        type:"POST",
        dataType:"json",
        data:{"product_id":id,"type":type},
        success:function(response)
        {
            console.log(response)
        }
            })
        }
        else{
            window.location.href="/account";

        }
    }
    // function checkSign()
    // {   var counter;
    //     let counter=localStorage.getItem("count")
    //     if()


    //     $.ajax({
    //         url:"http://localhost:6050/vid",
    //         type:"GET",
    
    //         success:function(res)
    //         {   
    //             console.log("My Response")
    //             console.log(res);
    //             console.log(res.counter)
    //             counter=parseInt(res.counter)
    //             console.log(counter)
    //             if(counter==0)
    //             {
    //                 window.location="http://localhost:6050/account";

    //             }
    //         }
    //     })
       
    
    // }
    function addToWishlist(id,type)
    {
        console.log("Inside add to wishlist")
        alert("Product added to Wishlist")
        $.ajax({
            url:"http://localhost:6050/addwish",
            type:"POST",
            dataType:"json",
            data:{
                "product_id":id,
                "type":type
            },
            success:function(response)
            {
                console.log(response)
            }
        })
    }
    function updateLocalStorage()
        {
            console.log(localStorage.getItem("count"))
            localStorage.setItem("count",1);

        }
</script>
<style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
    body{
            font-family:'Raleway',sans-serif;
        font-weight:400;
    }
    .grid-container
    {
        display:grid;
        grid-template-columns:auto auto auto;

    }
    .grid-container>div{
        border:2px solid black;
    }
    .item{
        text-align:center;
        font-size: 25px;
        font-weight:bold;
    }
    .productImage
    {
        margin-left:150px;
    }
    .buttonPanel
    {
        margin-left:160px;
        margin-bottom:20px;
    }
    .signoutli
    {
        margin-left:20px;
    }
    .cart-item
    {
        margin-left:20px;
    }
    .myorders
    {
        margin-left:20px;
    }
    .mysearch
    {
        margin-left:20px;
    }
    .mywish
    {
        margin-left:20px;
    }
</style>
<body>
    
    <nav class="nav">
        <div class="navigation container">
            <a href="index.html">
            <div class="logo">
                <img src="../images/logo.png">
                <div class="hero-content">
                    <h6><span class="logo_title">Food Place</span></h6>
                </div>
            </div>
            </a>

            <div class="menu">
                <div class="top-nav">
                    <div class="logo">
                        <img src="../images/logo.png">
                    </div>
                    <div class="close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/homelogin">Home &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a href="/fruit&veg">Fruits & Vegetables &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a href="/dairy">Dairy &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>

                    <li class="nav-item">
                        <a href="/meat">Meat &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a href="/uinfo">Account &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li class="mysearch">
                        <a href="/search">Search</a>
                    </li>
                    <li class="mywish">
                        <a href="/wishlist">My Wishlist</a>
                    </li>
                    <li class="myorders">
                            <a href="/orders">My Orders</a>
                    </li>
                    <li class=" cart-item nav-item">
                        <a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </li>
                   
                    <!--Temp code Starts Here-->
                    <li class="customer_info" id="customer_name">
                
                       
                    </li>

                    
                    <li class="signoutli">
                        <a onClick="updateLocalStorage()" href="/home">
                        <span class="glyphicon glyphicon-log-out">
                        
                        </span>
                        </a>
                    </li>

                    
                 


                    <!--Temp Code Ends Here-->
                </ul>
            </div>
            <a href="cart.html" class="cart-icon"><i class='bx bx-cart'></i></a>
            <div class="nav-menu">
                <i class='bx bx-menu' ></i>
            </div>
        </div>
    </nav>
    <div class="grid-container" id="mydiv"></div>
    
</body>
</html>