<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
    
    <!-- Box  icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Temp Code Starts Here-->
    <script>
        $(function()
        {
            $.ajax({
                url:"http://localhost:6050/getuserinfo",
                type:"GET",
                dataType:"json",
                success:function(response)
                {
                    console.log(response)
                    console.log(response[0].first_name)
                    console.log(response[0].last_name)

                    buildTable(response);

                }

            })
        })
        function buildTable(response)
        {
            var table=document.getElementById("customer_name");
            var row1=`
            <span class="glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="userdiv">
            <span class="user_first_name">Welcome, ${response[0].first_name}&nbsp;&nbsp;${response[0].last_name}</span>
            &nbsp;&nbsp;
            <span class="user_last_name"></span>
            &nbsp;&nbsp;
            </div>
            `;
            table.innerHTML+=row1;

        }
        function updateLocalStorage()
        {
            console.log(localStorage.getItem("count"))
            localStorage.setItem("count",1);

            $.ajax({
                url:"http://localhost:6050/signout",
                type:"GET",
                dataType:"json",
                success:function(response)
                {
                    console.log(response)
                }
            })

        }

    </script>
    <!--Temp Code Ends Here-->
    <style>
        .signoutli
        {
            margin-left:25px;
        }
        .user_first_name
        {
            background-color:rgb(229, 180, 235)
        }
        .user_last_name
        {
            background-color:rgb(229, 180, 235)
        }
        .user_div
        {
            background-color:rgb(229, 180, 235)
        }
        .customer_info
        {
            margin-left: 25px;
            
        }
        .cart-item
        {
            margin-left:25px;
        }
        
    </style>

    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Fresh Food Market Place</title>
</head>
<body>
    <!-- Header -->
    <header id="home" class="header">
        <!-- Navigation -->
        <nav class="nav">
            <div class="navigation container">
                <a href="index.html">
                <div class="logo">
                    <img src="../images/logo.png">
                    <div class="hero-content">
                        <h6><span class="logo_title">Food Place</span></h6>
                    </div>
                </div>
                </a>
    
                <div class="menu">
                    <div class="top-nav">
                        <div class="logo">
                            <img src="../images/logo.png">
                        </div>
                        <div class="close">
                            <i class='bx bx-x'></i>
                        </div>
                    </div>
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/home">Home &nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a href="/fruit&veg">Fruits & Vegetables &nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dairy">Dairy &nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
    
                        <li class="nav-item">
                            <a href="/meat">Meat &nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a href="/uinfo">Account &nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li>
                            <a href="/wishlist">My Wishlist</a>
                        </li>
                        <li class=" cart-item nav-item">
                            <a href="/cart"><i class='bx bx-cart'>&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                        </li>
                       
                        <!--Temp code Starts Here-->
                        <li class="customer_info" id="customer_name">
                    
                           
                        </li>

                        
                        <li class="signoutli">
                            <a onClick="updateLocalStorage()" href="/home">
                            <span class="glyphicon glyphicon-log-out">
                            
                            </span>
                            </a>
                        </li>

                        
                     


                        <!--Temp Code Ends Here-->
                    </ul>
                </div>
                <a href="cart.html" class="cart-icon"><i class='bx bx-cart'></i></a>
                <div class="nav-menu">
                    <i class='bx bx-menu' ></i>
                </div>
            </div>
        </nav>
        
        <!-- Banner -->
        <img src="../images/banner.png" class="banner-img" alt=""/>
        
    </header>
    
     <!------------main-------------->
     <main>
     </main>
     <!-- Footer -->
     <footer id="footer" class="section footer">
        <div class="container">
        <div class="footer-container">
            <div class="footer-center">
            <h3>CONTACT US</h3>
            <div>
                <span>
                <i class="fas fa-map-marker-alt"></i>
                </span>
                577 Boul Henri-Bourassa E, Montréal, QC H2C 1E2
            </div>
            <div>
                <span>
                <i class="far fa-envelope"></i>
                </span>
                owner@info_orion.ca
            </div>
            <div>
                <span>
                <i class="fas fa-phone"></i>
                </span>
                123-456-7890
            </div>
            <div>
                <span>
                <i class="far fa-paper-plane"></i>
                </span>
                Montreal, Canada
            </div>
            </div>
        </div>
        </div>
        </div><br>
        <div class="copyright">
        <center><i class='bx bx-copyright'>Copyright Reserved By Cégep de la Gaspésie et des Îles, Montreal</i></center>
    </div>
    </footer>