<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="../css/style1.css">
</head>

<script>
    $.ajax({
        url:"http://localhost:6050/gettotalsales",
        method:"GET",
        dataType:"json",
        success:function(response)
        {
            console.log(response)
            buildTable(response)
        }
    })
    function buildTable(data)
    {
        var table=document.getElementById("mytbody")
      
            var  row=`
            <tr>
                <td>${data[0].num_of_orders}</td>
                <td>${data[0].sum_of_order}</td>
            </tr>`;

            table.innerHTML+=row;
        
    }
</script>
<style>
    h1{
        text-align:center;
        font-style: bold;
    }   
    table{
        border:2px solid black;
    }
</style>
<body>
    <nav class="nav adminnav">
        <ul class="nav-list adminul">
            <li class="nav-item mylist admin_list_item item1">

                <a href="/admin">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
                
       
            <li class="nav-item logout admin_list_item item2">
                <a href="/home">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </li>
        </ul>
    </nav>
        
    <h1>SALES DATA</h1>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <table class="table table-stripped">
                <tr>
                    <th class="info">Number of Orders</th>
                    <th class="info">Total Sales</th>
                </tr>
                <tbody id="mytbody">

                </tbody>
            </table>
        </div>
        <div class="col-xs-2"></div>
    </div>
    
</body>
</html>