<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    $(function()
    {   
        var myArray=[]

        $.ajax({
            url:'http://localhost:6050/viewproductdetails',
            type:'GET',
            dataType:'json',
            success:function(response)
            {   
                myArray=response
                console.log("Hello Everyone")
                console.log(response)
                
                buildTable(response)

            }
        })
        function buildTable(data)
        {
            var table=document.getElementById("mydiv")
            console.log(table)
            console.log("Inside Build Table")
            console.log(data)
            console.log(data.name)

           

                var row1=`
                <div class="row">
            <div class="product_img">
            <label for="product_image">PRODUCT IMAGE</label>
            <img src="${data.img}" width="200px" height="200px">


            </div>

            <div class="product_id">
                <label for="product_id" class="mylabel">PRODUCT ID</label>
                <input id="pid" type="text" value=${data.product_id} disabled/>
                
            </div>
        
            <div class="product_name">
                <label for="product_name" class="mylabel">PRODUCT NAME</label>
                <input   id="pname" class="myinput" value="${data.name}" disabled/>            
            </div>
            <div class="product_type">
                <label for="product_type" class="mylabel">PRODUCT TYPE</label>
                <input id="ptype"  value=${data.type} disabled />
            </div>
            <div class="product_price">
                <label for="product_price"  class="mylabel">PRODUCT PRICE</label>
                <input id="pprice" class="myinput" value=${data.price} disabled/>

            </div>
            <div class="product_description">
                <label for="product_Descriptipn">PRODUCT DESCRIPTION</label>
                <input id="pdescription" class="myinput" value="${data.Description}" disabled/>
            </div>
            <div class="product_quantity">
                <label for="product_quantity" >PRODUCT QUANTITY</label>
                <input id="pquantity" class="myinput" value=${data.quantity} disabled />
            </div>
            <br>
            <div class="go_back_btn">
            <button class="btn btn-success" onclick=GoBack() >Go Back</button>`

                 table.innerHTML+=row1;
            
            console.log(row1)

        }
       
    })
    function GoBack()
        {
          window.location.href="/homelogin";  
        }
</script>
<style>
  
    .midh
    {
        background-color:skyblue;
        color:whitesmoke;
        text-align: center;
    }
    .mylabel
    {
        padding-right:90px;
    }
    #pid
    {
        margin-left:25px;
    }
    #ptype
    {
        margin-left:5px;
    }
    #pdescription
    {
        margin-left:30px;;
        width:80%;
    }
    #pquantity
    {
        margin-left:55px;
    }
</style>

<body>
    <h1>Products Page</h1>
    <div class='container'>
    <div class='col-xs-2'></div>
    <div class='col-xs-8 mididv'>
    <h1 class="midh">PRODUCT INFO</h1>
    <div class="grid-container" id="mydiv"></div>
    </div>
    <div class='col-xs-2'></div>
    </div>
</body>
</html>